<script>
  page = "multiplayer"
</script>
This is still in the works and will not be released for a while.


<div id="search_container"></div>

<script type="text/html" id="search_template">
  <label><@= blah @><@=console.log("HI")@>Blah</label>
  <input type="text" id="search_input"/>
  <input type="button" id="search_button" value = "Search"/>
</script>
