<div id="home-title-search">
<div id="home-title">
  Quizbowl Central
</div>

<div id="home-form"> 
  <div id="home-search-field">
    <input id="home-search-input" type="text" class="span8" placeholder="ex. Dickens"> 
    <img id="home-search-loading" src="/img/ajax-loader.gif"/>
  </div>
  <div id="home-search-button" class="btn btn-large">Search</div>
</div>
<div id="home-advance">
<form class="form-inline" class="display-inline-block">
  <div id="home-category" class="display-inline-block">
  <label>Category</label>
  <select multiple="multiple" id="home-advance-category">
  </select>
  </div> 

  <div id="home-difficulty" class="display-inline-block">
  <label>Difficulty</label>
  <select multiple="multiple" id="home-advance-difficulty">
  </select>
  </div>

  <div id="home-loc" class="display-inline-block">
  <label>Keyword Location</label>
  <div id="home-advance-loc" class="display-inline-block">
  </div>
  </div>


  <div id="home-year"class="display-inline-block">
  <label> Year </label>
  <select multiple="multiple" id="home-advance-year">
  </select>
  </div>

  <div id="home-tournament" class="display-inline-block">
  <label>Tournament</label>
  <select multiple="multiple" id="home-advance-tournament">
  </select>
  </div>
</form>
</div>
</div>
<div id="home-result-wrapper">
  <div class="row-fluid">
      <div id="home-result-refine" class="span2">
        <div id="home-refine-title">Refining your Search</div>
        <div id="home-refine-button">Refined Search</div>
      </div>

      <div id="home-results-wrapper" class="span10">
        <div id="home-results">
        </div>
      </div>
  </div>
</div>
