<div id="home-title-search">
<div id="home-title">
  Quizbowl Central
</div>

<div id="home-form"> 
<div id="home-search-field"><input id="home-search-input" type="text" class="span8" placeholder="ex. Dickens"> <img id="home-search-loading" src="/img/ajax-loader.gif"/></div>
<div id="home-search-button" class="btn btn-large">Search</div>
</div>
</div>
<div id="home-result-wrapper">
  <div class="row-fluid">
      <div id="home-result-refine" class="span2">
Search Refine will go here
      </div>

      <div id="home-results" class="span10">
      </div>
  </div>
</div>
