<html>
<head>
<title>Quizbowl Database</title>
<script src="js/sockjs-0.1.2.min.js"></script>
<script src='js/bridge.min.js' type='text/javascript'></script>
<link href='http://fonts.googleapis.com/css?family=Forum' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href='css/bootstrap-responsive.min.css' type="text/css"/>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="css/index.css" type='text/css'/>
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '378548848840009', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true, // parse XFBML
      oauth      : true
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<div id="wrapper">
    <div class="fb-login-button">Login with Facebook</div>
  <div id="nav">
    <div id="nav-inner">
    <ul>
      <a href="/"><li class="<% if( current == 'home') {%><%="active"%><%}%> nav-ele">Search</li></a>
      <a href="/reader"><li class="<% if( current == 'reader') {%><%="active"%><%}%> nav-ele" >Reader</li></a>
      <a href="/multiplayer"><li class="<% if( current == 'multiplayer') {%><%="active"%><%}%> nav-ele" >Multiplayer</li></a>
      <a><li id="login" class="nav-ele">Login</li></a>
    </ul>
    </div>
  </div>
  <div class="content">
    <div id="nav-blur">
    </div>
    <%- body %>
    <div id="tickerBox">
    </div>
  </div>
  <div id="loginBox">
  </div>
</div>
<div id="footer">
This site is made by Gerald Fong and Sharad Vikram.
</div>
</body>
</html>
