<script>
  page = "reader";
</script>
<div id="home-advance">
<form class="form-inline" class="display-inline-block">
  <div id="home-category" class="home-advance-param">
  <label>Category</label>
  <select multiple="multiple" id="home-advance-category">
  </select>
  </div> 

  <div id="home-difficulty" class="home-advance-param">
  <label>Difficulty</label>
  <select multiple="multiple" id="home-advance-difficulty">
  </select>
  </div>

  <div id="home-loc" class="home-advance-param">
  <label>Keyword Location</label> 
  <select multiple="multiple" id="home-advance-loc">
  </select>
  </div>


  <div id="home-year"class="home-advance-param">
  <label> Year </label>
  <select multiple="multiple" id="home-advance-year">
  </select>
  </div>

  <div id="home-tournament" class="home-advance-param">
  <label>Tournament</label>
  <select multiple="multiple" id="home-advance-tournament">
  </select>
  </div>
</form>
</div>

<div id="reader-text-wrapper">
Blah blah blah

</div>
