<script>
  page = "reader";
</script>
<div id="home-advance">
<form class="form-inline" class="display-inline-block">
  <div id="home-category" class="home-advance-param">
  <label>Category</label>
  <select multiple="multiple" id="home-advance-category">
  </select>
  </div> 

  <div id="home-difficulty" class="home-advance-param">
  <label>Difficulty</label>
  <select multiple="multiple" id="home-advance-difficulty">
  </select>
  </div>

  <div id="home-loc" class="home-advance-param">
  <label>Keyword Location</label> 
  <select multiple="multiple" id="home-advance-loc">
  </select>
  </div>


  <div id="home-year"class="home-advance-param">
  <label> Year </label>
  <select multiple="multiple" id="home-advance-year">
  </select>
  </div>

  <div id="home-tournament" class="home-advance-param">
  <label>Tournament</label>
  <select multiple="multiple" id="home-advance-tournament">
  </select>
  </div>
</form>
</div>

<div class="row">
<div class="span4">
<div id="reader-controls">
<div id="reader-score-wrapper" class="reader-control">Score: <span id="reader-score">0</span></div>
<div id="reader-speed" class="reader-control">Reader Text Speed: <input id="reader-speed-input" type="range" min="0" max="100" value="50"/></div>
<div id="reader-toggle-difficulty" class="btn reader-control">Hide Difficulty</div>
<div id="reader-toggle-category" class="btn reader-control">Show Category</div>
</div>

</div>

<div class="span12">
<div class="well" id="reader-text-wrapper">
Get started by pressing the "Start Question" button.
</div>
<div id="reader-bottom-wrapper">
<div id="reader-bottom">
<button id="reader-start-question" class="btn-primary btn">Start Question</button>
<img id="reader-question-loading" src="/img/ajax-loader.gif"/>
</div>
</div>
</div>
</div>
