.intro{
  font-size:2em;
}
#topWrapper {
  width:910px;
  height:300px;
  border-radius:5px;
  border: 10px rgba(10, 157, 264, 1) solid;
  background:white;
  margin:auto;
  margin-top:20px;
  padding:15px;
}
