.roomWrapper {
  position : relative;
}

.roomLoadingMask {
  position : absolute;
  background-color : #ccc;
  opacity : 0.5;
  height : 100%;
  width : 100%;
}

.chatImage {
  width : 25px;
  border-radius : 12px;
}
