/* Ah, the holy grail */
#holyGrailContainer {
	padding-left:250px;
	padding-right:250px;
	height:100%;
}
  #holyGrailContainer > div {
    position:relative;
    height:100%;
    float:left;
  }

#game {
	width:100%;
	text-align:center;
}

#leftWrapper{
	background-color:rgba(0, 143, 213, 0.5);
	height:100%;
	width:250px;
	right:250px;
	margin-left:-100%;
}

#rightWrapper {
  float:left;
  background-color:rgba(0, 143, 213, 0.5);
  height:100%;
  width:250px;
	margin-right:-250px;
}
/* holy grail end */

/* game creation styling */
#lobby {
  width:100%;
  border-top:1px solid black;
  border-bottom:1px solid black;
  max-height:200px;
  overflow-y:auto;
}

.room {
  height:35px;
  padding-top:3px;
  border:solid rgba(0,0,0,0.4);
  border-width:1px 0px;
  cursor:pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.roomName {
  line-height:38px;
  position:relative;
  float:left;
  padding-left:9px;
}
.roomWrapper {
  background-color:transparent;
  -webkit-transition: background-color 0.3s ease-out;
  position : relative;
  margin-top:-3px;
  height:38px;
} .roomWrapper:hover {
    background-color:rgba(0, 0, 0, 0.3);
  }

.roomHostImage {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 25px;
  border-radius:13px;
  position: relative;
  float: left;
  margin-left: 3px;
}
.roomStarted {
  background:rgba(228, 31, 58, 0.5);
}
.roomIdle {
  background:rgba(111,199,0,0.5);
}
.roomLoadingImage {
  width:25px;
  margin-top:5px;
}
.joinButton {
  position: relative;
  float: right;
  margin-top: 5px;
  margin-left: 3px;
  margin-right: 5px;
}
.roomLoadingMask {
  position : absolute;
  background-color : #ccc;
  opacity : 0.7;
  width : 100%;
  text-align: center;
  height:100%;
}

#lobbyWrapper {

}
  #lobbyWrapper h2 {
    margin:0;
    height:2em;
    line-height:2em;
    text-align:center;
  }

#createWrapper {
  padding:0;
}
  #createWrapper h2 {
    margin:0;
    height:2em;
    line-height:2em;
    text-align:center;
  }
  #createWrapper .createField {
    min-height:1.5em;
    width:90%;
    margin:0 auto;
    overflow:auto;
    padding:5px 0px;
  }
  #createWrapper label {
    display:inline-block;
    vertical-align:middle;
    width:30%;
  }
  #createWrapper input, #createWrapper select {
    width:70%;
    /* ^ width should include all borders/padding, so: */
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #create {
    width:100%;
    border-top: 1px solid black;
    height: 485px;
  }
  #createButton {
    display:block;
    margin:0 auto;
  }

/* room leaving */
#leaveRoom { 
  display:none; /* until loadRoom called */
  position:absolute;
  cursor:pointer;
  top:0px;
  width:100px;
  height:30px;
  line-height:30px;
  background:red;
} #leaveRoom :hover {

  } #leaveRoom :active {

  }

/* actual game controls styling */
#gameControlsContainer {
	position:absolute;
  display:none;
}

#gameText {
	position:relative;
	text-align:justify;
}

#gameNotificationText {
	position:relative;
}

#gameAnswerControl { margin: 0 auto; }

#gameAnswer { display: none; }
.userImage {
  width:25px;
  border-radius:13px;
}

/* chat styling */
#userlist {
  overflow:auto;
}
#roomChat { 
}
#roomChatBox {
  height:300px;
  overflow:auto;
}
.chat {
  overflow:auto;
}
.chatImage {
  display:inline-block;
  width : 25px;
  border-radius : 500px;
}

.chatText {
  display:inline-block;
  margin-left:5px;
  width:180px;
  vertical-align:middle
}
.chatTime {
  display:inline-block;
  width : 40px;
}
.user {
  position:relative;
  float:left;
  margin-right:3px;
  display:block;
}
