#topWrapper {
  height : 100%;
}
#bottomWrapper {
  margin-bottom:-30px;
}
#searchBoxWrapper {
  width:100%;
  background:rgba(10, 157, 264, 1);
  height:50px;
  line-height:50px;
  text-align:center;
}
#searchBox {
  width : 500px;
  margin-top:14px;
  margin-bottom:14px;
  vertical-align:middle;
  margin-left:20px;
}
.searchLoader {
  width:25px;
  vertical-align:middle;
  height:25px;
  visibility:hidden;
}
#searchButton {
  margin-top:9px;
  margin-bottom:9px;
  margin-left:10px;
  vertical-align:middle;
}
.next {
  position:relative;
  float:right;
}
.previous{
  position:relative;
  float:left;
}
#topResultControl, #bottomResultControl {
  width:100%;
  position : relative;
  bottom : 0px;
  text-align:center;
}

#resultsWrapper {
  width:900px;
  margin: auto;
}
#results {
}

.tossup {
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
  margin-top:10px;
  margin-bottom:10px;
  background-color:rgba(109,214,222,1);
}
