html, body {
  height: 100%;
}
a {
  cursor:pointer;
}
//scrollbar
pre::-webkit-scrollbar {  
  height: 1.5ex;  
  -webkit-border-radius: 1ex;  
}  

pre::-webkit-scrollbar-thumb {  
  border-top: 1px solid #fff;  
  background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(240, 240, 240)), to(rgb(210, 210, 210)));  
  -webkit-border-radius: 1ex;  
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);  
}  .content {
  padding-bottom: 60px;
}

.display-inline-block {
  display: inline-block;
}

#nav {
  background-color: rgb(25, 104, 151);
  height: 40px;
}

#nav-inner {
  width: 1020px;
  margin: 0 auto;

}

#nav-title {
  color: white;
  font-family: 'Helvetica Neue', Arial;
}

#login {
  margin-left: 300px !important;
}

#nav-blur {
  height: 10px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.nav-ele {
  display: inline-block;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 40px;
  font-size: 1.1em;
  font-family: 'Helvetica Neue' Helvetica, Arial;
}

.active {
  color: rgba(255, 255, 255, 1) !important
}

.nav-ele:hover {
  color: rgba(255, 255, 255, 1) !important;
}


/* Ticker */
#contentWrapper {
  position:absolute !important;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}
#contentWrapper .hsplitbar {
  height: 6px;
  background: #cca url(hgrabber.gif) no-repeat center;
}
#contentWrapper.hsplitbar.active, #MySplitter .hsplitbar:hover {
  background: #e88 url(hgrabber.gif) no-repeat center;
}
.ticker {
  height:50px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-color:rgba(0,0,0,0.0);
  -webkit-transition: background-color 125ms linear;
  -moz-transition: background-color 125ms linear;
}
.ticker:hover {
  background-color:rgba(0,0,0,0.15);
  -webkit-transition: background-color 125ms linear;
  -moz-transition: background-color 125ms linear;
}
.tickerText {
  vertical-align:middle;
  font-size:0.9em;
}
.tickerDescription{
  font-size:0.8em;
}
.tickerImage {
  width: 50px;
  float: left;
}
#tickerWrapper{
  position:fixed;
  border-left:#ccc solid;
  border-top:#ccc solid;
  background-color:white;
  right:0px;
  top:40px;
  width: 200px;
  bottom:0px;
  border-radius:2px;
}
#tickerBox{
  width:100%;
  height:50%;
  position: absolute;
  top: 0px;
  overflow:scroll;
}
#tickerHide {
  background-color:#DBDBDB;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  position:relative;
  padding-top:20px;
  top:100px;
  height:40px;
  left:-20px;
  width:20px;
  text-align:center;
  vertical-align:middle;
}

#tickerHide:hover{
  background-color: #ccc;
  cursor: pointer;
}
#chatBox{
  height:50%;
  position: absolute;
  width: 100%;
  top: 50%
}
.chat {
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  padding-top:5px;
  margin-top:1px;
  border-top:1px #EEE;
  min-height:35px;
  width:100%;
}

#pfImage {
}


#home-title {
  text-align: center;
  font-size: 80px;
  margin-top: 200px;
  font-family: "Forum";
  text-shadow: 4px 4px 5px rgba(0, 0, 0, .25), 0px -3px 4px white;
}

#home-form {
  text-align: center;
  margin-top: 60px;
}

#home-search-button {
  line-height: 13px;
  height: 13px;
}

#home-result-wrapper {
  clear: both;
  margin: 0 40px;
}

#home-search-loading {
  visibility: hidden;
}

#home-result-refine {
  visibility: hidden;
}

#home-results-wrapper {
  border-radius: 20px;
  visibility: hidden;
}

#home-results {
  padding: 20px 30px 40px 30px;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(230, 230, 230, 1);
  box-shadow: 4px 4px 6px rgba(150, 150, 150, .1);
}

#home-result-quantity {
  color: rgba(150, 150, 150, 1);
  margin: 5px 0 20px 0;
  float: left;
}

.home-result {
  margin-bottom: 20px;
  clear:both;
}

.home-result-year, .home-result-tournament, .home-result-round, .home-result-question-num {
}

.home-result-category, .home-result-rating, .home-result-difficulty {
}

.home-result-category {
  margin-right: 15px;
}

.home-result-info {
  margin: 4px 0;
}

.home-result-question {
  margin: 6px 0;
  line-height: 1.6em;
}

.home-result-answer {
  font-style: italic;
  line-height: 1.6em;
  margin: 5px 0;
}

.home-result-source {
  font-size: 1.3em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

/* Search Sort */

#home-sort {
  float: right;
}

/* Advanced Search */

#home-advance-search {
  float: left;
  margin: 12px 9px 8px 9px;
  cursor: pointer;
}

#home-advance {
  box-shadow: 4px 4px 6px rgba(150, 150, 150, .1);
  clear: both;
  visibility: hidden;
  height: 0;
  width: 1050px;
  margin: 0 auto 10px auto ;
  padding: 7px 15px 14px;
  border-radius: 10px;
  border: 1px solid rgb(230, 230, 230);
  background: white;
}

#home-advance-category {
  width: 120px;
}

#home-advance-difficulty {
  width: 70px;
  height: 60px;
}

#home-advance-year {
  width: 100px;
}

#home-advance-tournament {
  width: 250px;
}

#home-advance-loc {
  width: 100px;
  height: 40px;
}

.home-advance-param {
  display: inline-block;
  margin: 6px;
}



/* Next and Back Buttons */

#home-result-back {
  cursor: pointer;
  display: inline;
  float: left;
  font-size: 1.4em;
  margin-left: 100px;
}

#home-result-next {
  cursor: pointer;
  display: inline;
  float: right;
  font-size: 1.4em;
  margin-right: 100px;
}



#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0  -40px 0;
  background: url("/img/grid_noise.png");
}

#footer {
  clear: both;
  background: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

input {
  height: 2.5em;
}


/* Reader */

#reader-text-wrapper {
  background: #fff;
  width: 800px;
  margin: 16px auto;
  height: 300px;
  border: 1px solid rgb(230, 230, 230);

}

#reader-start-question {
  width: 160px;
  text-align: center;
}

#reader-bottom {
  margin: 20px auto 5px auto;
  width: 165px;
  height: 40px;
}

#reader-question-info {
  font-size: 1.4em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 6px;
}

#reader-question {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;

}

#reader-input-submit {
  margin: 0 10px;
}

#reader-input {
  margin-top: 6px;
}


#reader-controls {
  margin: 16px;
  padding: 16px 30px 8px 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  background: white;
  border-radius: 5px;
  border: 1px solid #E6E6E6;

}

.reader-control {
  margin-bottom: 10px;
}

#reader-answer {
  font-style: italic;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  margin-top: 10px;
}

#reader-feedback-text {
  text-align: center;
  font-weight: bold;
  color: rgba(200, 30, 50, 1);
  margin-top: 10px;
  height: 16px;
  padding-right: 4px;
  opacity: 0;
}

#reader-question-details {
  margin-bottom: 10px;
}

#reader-skip {
  margin-left: 15px;
}

#reader-question-loading {
  margin-top: 2px;
  visibility: hidden;
  position: absolute;
  margin-left: 6px;
}

#reader-speed-input {
  margin-top: 5px;
}

#home-advance-category {
  height: 74px;
}

#home-advance-year {
  height: 74px;
}

#home-advance-tournament {
  height: 74px;
}

#reader-mass {
  width: 1230px;
  margin: 0 auto;
}
