<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Quizbowl DB</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta http-equiv="Content-Language" content="en-us">
  </head>
  <body>
    <div id="container">
      <div id="menu">
      </div>
      <%-body%>
    </div>
  </body>

</html>