<div>
  <div id='topWrapper'>
    <div class='intro'>
      Welcome to Quizbowl DB, the <b>best</b> way to get better at quizbowl!
    </div>
    <div class='item'>
      <img src='/img/search.png' class='howImg'></img><a href='/search'>Search</a> for questions on the topic of your choice
    </div>
    <div class='item'>
      <img src='/img/practice.png' class='howImg'></img><a href='/reader'>Practice</a> questions to specialize your knowledge
    </div>
    <div class='item'>
      <img src='/img/multiplayer.png' class='howImg'></img><a href='/multiplayer'>Play</a> against other quizbowlers to hone your skills
    </div>
  </div>
  <div id='bottomWrapper'>
    <div id='left'>
      <div id='userTitle'></div>
      <div id='userList'></div>
    </div>
  </div>
</div>
