<div>
  <div id='topWrapper'>
    <div class='intro'>
      Welcome to Quizbowl DB, the <b>best</b> way to get better at quizbowl!
    </div>
    <div id='how'>
      How?
    </div>
    <div class='item'>
      1. <a href='/search'>Search</a> for questions on the topic of your choice
    </div>
    <div class='item'>
      2. <a href='/reader'>Read</a> questions to specialize your knowledge
    </div>
    <div class='item'>
      3. <a href='/multiplayer'>Play</a> against other quizbowlers to hone your skills
    </div>
  </div>
</div>
