<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Quizbowl DB</title>
    <script type="text/javascript" src="/js/bridge.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta http-equiv="Content-Language" content="en-us">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '378548848840009', // App ID
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true, // parse XFBML
          oauth      : true
        });
      };

      // Load the SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
    </script>
    <div id="fb-root"></div>
  </head>
  <body>
    <a><li id="login" class="nav-ele"><div class="fb-login-button" data-scope="email">Login</div></li></a>
    <div id="container">
      <div id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/reader">Reader</a></li>
          <li><a href="/multiplayer">Multiplayer</a></li>
      </div>
      <%-body%>
    </div>
  </body>

</html>
