<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Quizbowl DB</title>
    <script type="text/javascript" src="/js/bridge.min.js"></script>
    <script type="text/javascript" src="/js/raphael.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/backbone.paginator.min.js"></script>
    <script type="text/javascript" src="/js/mustache.js"></script>
    <script type='text/javascript' src='/js/jquery.qtip.min.js'></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/jquery.qtip.min.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta http-equiv="Content-Language" content="en-us">

    <script type='text/javascript' src='/js/index.js'></script>
    <script>
      $.ajax("/api/room",{
        username : "username",
        password : "password"
      });
    </script>
    <script type="text/javascript" src="/js/<%=page%>.js"></script>
    <div id="fb-root"></div>
    <link rel="stylesheet" href="/css/<%=page%>.css" />
  </head>
  <body>
		<div id="container">
      <div id="header">
        <div id="headerContainer">
          <div id="headerLogo">
            <a href="/">
              <img id='headerImg' src='/img/logo-small-transparent.png'></img>
            </a>
          </div>
          <ul id="menu">
            <li><a href="/search">Search</a></li>
            <li><a href="/reader">Reader</a></li>
            <li><a href="/multiplayer">Multiplayer</a></li>
            <li><a class="fbLoginButtonWrapper" href="#" onclick="window.login()"><img class='fbLoginButtonImg' src='/img/f_logo.png'></img><div id='fbLoginDiv'>Login</div></a></li>
          </ul>
        </div>
			</div>
			<%-body%>
      <div id='footer'>
        Created by <a href='http://www.github.com/sharadmv'>Sharad Vikram</a> and <a href='http://www.github.com/achalddave'>Achal Dave</a> Copyright © 2012 Quizbowl DB; Proudly sponsored by <a href='http://www.pace-nsc.org'>PACE</a>
      </div>
		</div>
    </body>
  </html>
