<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Quizbowl DB</title>
    <script type="text/javascript" src="/js/bridge.min.js"></script>
    <script type="text/javascript" src="/js/raphael.js"></script>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/backbone.js"></script>
    <script type="text/javascript" src="/js/backbone.paginator.min.js"></script>
    <script type="text/javascript" src="/js/mustache.js"></script>
    <script type='text/javascript' src='/js/jquery.qtip.min.js'></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/jquery.qtip.min.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
		<meta http-equiv="Content-Language" content="en-us">
    <script>

      function getQueryStrings() { 
        var assoc  = {};
        var decode = function (s) { return decodeURIComponent(s.replace(/\+/g, " ")); };
        var queryString = location.search.substring(1); 
        var keyValues = queryString.split('&'); 

        for(var i in keyValues) { 
          var key = keyValues[i].split('=');
          if (key.length > 1) {
            assoc[decode(key[0])] = decode(key[1]);
          }
        } 

        return assoc; 
      } 
      if(getQueryStrings()["fb"] == "true")  {
        window.login = function() {
          if (window["FB"] === undefined) {
            console.log("Already authed");
          } else {
            FB.login();
          }
        };
        $.ajax("/api/auth",{
          success : function(response) {
            window.namespace = response.data.namespace;
            if (response.data.userId) {
              console.log("Loading cookie: ", response.data);
              window.userId = response.data.userId;
            } else {
              console.log("Loading facebook");
              (function(d){
                var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                d.getElementsByTagName('head')[0].appendChild(js);
              }(document));
            }
          }
        });
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '378548848840009', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true, // parse XFBML
            oauth      : true
          });
          FB.Event.subscribe('auth.statusChange',
            function(response) {  
              console.log("Facebook Status Change: ", response);
              if (response.status == "connected") {
                if (window.onFbAuth) {
                  window.onFbAuth();
                }
              }
            }
          );
        };
      };

      // Load the SDK Asynchronously
    </script>
    <script>
      $.ajax("/api/room",{
        username : "username",
        password : "password"
      });
    </script>
    <div id="fb-root"></div>
    <script type="text/javascript" src="/js/<%=page%>.js"></script>
    <link rel="stylesheet" href="/css/<%=page%>.css" />
  </head>
  <body>
		<div id="container">
			<div id="header">
				<div id="headerLogo">
          <a href="/">
          <img src='/img/logo-small-transparent.png'></img>
          </a>
				</div>
				<ul id="menu">
					<li><a href="/search">Search</a></li>
					<li><a href="/reader">Reader</a></li>
					<li><a href="/multiplayer">Multiplayer</a></li>
          <li><a class="fbLoginButtonWrapper" href="#" onclick="window.login()"><img class='fbLoginButtonImg' src='/img/f_logo.png'></img><div id='fbLoginDiv'>Login</div></a></li>
				</ul>
			</div>
			<%-body%>
		</div>
    </body>
  </html>
