<div id="create">
  <button class='btn-small' id="createButton">Create Game</button>
</div>
<div id='lobby'>
</div>
<div id='game'>
</div>
<div id='roomChat'>
  <div id='roomChatBox'>
  </div>
  <div id='roomChatControl'>
    <input id='roomChatMessage'></input>
    <button id='roomChatSend'>Send</button>
  </div>
</div>
<div id="userlist">
</div>
