<div id='lobby'>
</div>
<div id='game'>
</div>
<div id='roomChat'>
  <div id='roomChatBox'>
  </div>
  <div id='roomChatControl'>
    <input id='roomChatMessage'>
    </input>
    <button id='roomChatSend'>Send</button>
  </div>
</div>
