<div id='multi'>
  <script type='text/javascript' src='/js/multiplayer.js'></script>
  <h3>Multiplayer</h3>
  <div id='rooms'></div>
  <div id='text'></div>
  <button id='buzz'>Buzz</button>
  <input id='answer'></input>
  <div id='response'></div>
</div>
