<div id='readerWrapper'>
  <div id='filterBox'>
    <form>
      <div id="home-category">
        <label>Category</label>
        <select multiple="multiple" id="home-advance-category">
        </select>
      </div> 

      <div id="home-difficulty">
        <label>Difficulty</label>
        <select multiple="multiple" id="home-advance-difficulty">
        </select>
      </div>

      <div id="home-tournament">
        <label>Tournament</label>
        <select multiple="multiple" id="home-advance-tournament">
        </select>
      </div>
    </form>
  </div>
  <div id='readerControl'>
  </div>
  <div id='questionBox'>
  </div>
</div>
