<div id='readerWrapper'>
  <div id='filterBox'>
    <form>
      <div class="category">
        <label>Category</label>
        <select multiple="multiple" class="categorySelect">
        </select>
      </div> 

      <div class="difficulty">
        <label>Difficulty</label>
        <select multiple="multiple" class="difficultySelect">
        </select>
      </div>

      <div class="tournament">
        <label>Tournament</label>
        <select multiple="multiple" class="tournamentSelect">
        </select>
      </div>
    </form>
  </div>
  <div id='questionBox'>
  </div>
  <div id="readerControl">
    <div id="readerScore">Score: <span id="readerScoreText">0</span></div>
    <div id="readerSpeed">Reader Text Speed: <input id="readerSpeedInput" type="range" min="0" max="100" value="50"/></div>
    <button id="readerToggleDifficulty" class="btn-small">Hide Difficulty</button>
    <button id="readerToggleCategory" class="btn-small">Show Category</button>
  </div>
  <div id='questionControl'>
    <button id="startButton" class="btn-medium">Start Question (Space)</button>
    <button id="buzzButton" class="btn-medium">Buzz</button>
    <button id="skipButton" class="btn-medium">Skip</button>
    <input id="answerBox"/>
    <span id="answerNotification"></span>
  </div>
</div>
