<div id='search'>
  <div id='searchBoxWrapper'>
    <div id='searchBoxContainer'>
      <div id='searchText'>Enter a term to search here:</div>
      <input id='searchBox'class="input-xlarge"></input>
      <button id='searchButton' class='btn'>Search</button>
      <img class='searchLoader' src='/img/loading.gif'></img>
    </div>
  </div>
  <div id='resultsWrapper'>
    <div id='topWrapper'>
      <div id='topResultControl'>
        <a class='previous'>Previous</a>
        <span class='pages'></span>
        <a class='next'>Next</a>
      </div>
      <div id='results'>
      </div>
    </div>
    <div id='bottomWrapper'>
      <div id='bottomResultControl'>
        <a class='previous'>Previous</a>
        <span class='pages'></span>
        <a class='next'>Next</a>
      </div>
    </div>
  </div>
</div>
