<div id='search'>
  <div id='searchBoxWrapper'>
    <input id='searchBox'></input>
    <button id='searchButton' class='btn-medium'>Search</button>
  </div>
  <div id='topWrapper'>
    <div id='topResultControl'>
      <a class='previous'>Previous</a>
      <span class='pages'></span>
      <a class='next'>Next</a>
    </div>
    <div id='results'>
    </div>
  </div>
  <div id='bottomWrapper'>
    <div id='bottomResultControl'>
      <a class='previous'>Previous</a>
      <span class='pages'></span>
      <a class='next'>Next</a>
    </div>
  </div>
</div>
