<div id='search'>
  <div id='searchBoxWrapper'>
    <input id='searchBox'></input>
    <button id='searchButton' class='btn-medium'>Search</button>
    <img class='searchLoader' src='/img/loading.gif'></img>
  </div>
  <div id='resultsWrapper'>
    <div id='topWrapper'>
      <div id='topResultControl'>
        <a class='previous'>Previous</a>
        <span class='pages'></span>
        <a class='next'>Next</a>
      </div>
      <div id='results'>
      </div>
    </div>
    <div id='bottomWrapper'>
      <div id='bottomResultControl'>
        <a class='previous'>Previous</a>
        <span class='pages'></span>
        <a class='next'>Next</a>
      </div>
    </div>
  </div>
</div>
