<div id='search'>
  <div id='searchBoxWrapper'>
    <input id='searchBox'></input>
    <button id='searchButton' class='btn-medium'>Search</button>
  </div>
  <div id='results'>
  </div>
  <div id='resultControl'>
    <a id='previous'>Previous</a>
    <a id='next'>Next</a>
  </div>
</div>
